body, html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 25vh 75vh 10vh;
    grid-template-areas: "h h"
                         "m s"
                         "f f";
}

header {
    background-color: green;
    grid-area: m;
}
main {
    background-color: gray;
    grid-area: f;
}
siderbar {
    background-color: red;
    grid-area: h;
}
footer {
    background-color: blue;
    grid-area: s;
}